%clearfix {
  &::before,
  &::after {
    content: '';
    display: block;
  }
  &::after {
    clear: both;
  }
}

%center-t {
  text-align: center;
}

%center-b {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%links {
  text-decoration: none;
}

%images {
  max-width: 100%;
}

%headlines {

}

%nav-items {

}